header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(63, 47, 13);
    background-color: bisque;
    color: cadetblue;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    color: rgb(87, 64, 31);
    font-weight: bold;
    
}

